
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
header
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 10vh;
  color: rgb(37, 2, 48);
  background-color:rgb(211, 161, 226);
}
.mee, .mee1 , .mee2
{
  color: rgb(236, 236, 236);
  
}
nav
{
  background-color: rgb(157, 69, 100);
  word-spacing: relative;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 10vh;
}

a{
  text-decoration: none;
}

.wha{
  width: 5%;
}

.herb{
  padding-left: 15%;
  padding-right: 15%;
}


.herbimg{
  width: 30%;
}

.fon{
  font-size: 2em;
}

